# vi/vim swap file
*.bak
*.log
*.old
*.sw[a-z]
/META.yml
/Makefile
/db/initial/**
/docker-compose.override.yml
/etc/act.ini
/inc
actdocs
conf
git
github-hook
var
/conferences/*
!conferences/demo/
!conferences/README.md
