Act <none>  apache <none>
Act <none>  User Apache <apache@spectre.mongueurs.net>

elbeho <elbeho@mongueurs.net>  <elbeho@mongueurs.net>
elbeho <elbeho@mongueurs.net>  <elbeho@gmail.com>
elbeho <elbeho@mongueurs.net>  L Bo <elbeho@users.noreply.github.com>

Alexandre Franke <alexandre.franke@gmail.com>
Ann Barcomb <ann@domaintje.com>
Arjen Laarhoven <arjen@laarhoven.info>
Barbie <barbie@missbarbell.co.uk>
Dagfinn Ilmari Mannsåker <ilmari@ilmari.org>
Dan Wright <Dan@DWright.Org>
David Elbaz <lacravate@mongueurs.net>
David Rigaudiere <david@rigaudiere.net>
Dotan Dimet <dotan@corky.net>
Emmanuel Seyman <emmanuel@seyman.fr>
Gianni "dakkar" Ceccarelli <dakkar@thenautilus.net> Gianni Ceccarelli <dakkar@thenautilus.net>
Graham Knop <haarg@haarg.org>
Harald Jörg <haj@posteo.de>
Ilya Chesnokov <chesnokov.ilya@gmail.com>
Joakim <bannan@cpan.org>
Leon Brocard <acme@astray.com>
Liz Cortell <zrusilla@mac.com>
Michal Wojciechowski <odyniec@odyniec.net>
Ole Bendik Kvisberg <olekvi@kvisberg.net>
Olivier Mengué <dolmen@cpan.org>
Philippe Bruhat (BooK) <book@cpan.org>
Renee <github@renee-baecker.de> reneeb <github@renee-baecker.de>
Rob Hoelz <rob@hoelz.ro>
Stefan Hornburg (Racke) <racke@linuxia.de>
Sébastien Aperghis-Tramoni <github@maddingue.org>
Sébastien Aperghis-Tramoni <github@maddingue.org>  <saper@cpan.org>
Sébastien Aperghis-Tramoni <github@maddingue.org>  Sebastien Aperghis-Tramoni <sebastien@aperghis.net>
Tatsuhiko Miyagawa <miyagawa@bulknews.net>
Thomas Klausner <domm@cpan.org>  <domm@plix.at>
Wesley Schwengle <wesley@schwengle.net>
Éric Cholet <eric@logilune.com>
