em { font-weight: bold }
li { list-style: square }

p, ul, li, h1, h2, h3, pre {
  margin-top: 1em;
}
ul {
  margin-left: 2em;
}
a:link, A:visited {
  background: transparent;
  color: #006699;
}
h1, h2, h3  {
  font-weight: bold;
  color: #006699;
}
h1 {
  font-size: large;
}
h2 {
  font-size: medium;
}
pre {
  padding: 1em;
  background: #eeeeee;
  border: 1px solid #AAA;
  color: black;
  white-space: pre;
}
#ft {
  margin-top: 2em;
  border-top: 1px solid #AAA;
  font-size: small;
}
