[general]
conferences = FIXME
cookie_name = act
searchlimit = 20
dir_photos  = /opt/filestore
dir_ttc     = $(home)/var
max_imgsize = 320x200
root        = FIXME

[database]
name        = act
dsn         = dbi:Pg:dbname=$(database_name)
host        = database
user        = act
passwd      = act123
# Check the DB version with the application, defaults to 1
# version_check = 0

[email]
sendmail    = /usr/sbin/sendmail
test        = 0
sender_address = FIXME

[wiki]
dbname      = act_wiki
dbuser      = act
dbpass      = act123
dbhost      = database

[payment]
open      = 0
invoices  = 0
type        = Fake
notify_bcc  = FIXME

[payment_type_Fake]
plugin = Fake

[flickr]
# see http://www.flickr.com/services/api/
apikey  = 0123456789ABCDEF0123456789ABCDEF
